<?xml version="1.0" encoding="UTF-8"?>

<module name="graph 1D object" class="GraphObject">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="NDIMS" value="1"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
        <geometryOutput/>
    </outputs>    
    <parameters>
    </parameters>
    <description value="creates a graph of 1D data and outputs as a geometry object - useful for line slices of higher dimensional data"/>
</module>
