<?xml version="1.0" encoding="UTF-8"?>
<module name="accumulate irregular fields" class="FieldAccumulator">
   <inputs>
       <input name="inField" type="pl.edu.icm.visnow.lib.types.VNIrregularField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="IRREGULAR" value="true"/>
            </acceptor>
       </input>
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
            <schema>
                <param name="IRREGULAR" value="true"/>
                <param name="NSPACE" value="3"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
</module>
