<?xml version="1.0" encoding="UTF-8"?>

<module name="create vectors" class="CreateVectorData">

    <inputs>
       <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="DATA_VECLEN" value="1"/>
            </acceptor>
       </input>
    </inputs>

    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNField">
            <schema>
                <param name="DATA_VECLEN" value="3"/>
            </schema>
        </output>
        <output name="regularOutField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="DATA_VECLEN" value="3"/>
            </schema>
        </output>
   </outputs>
    
    <parameters>

    </parameters>
</module>
