<?xml version="1.0" encoding="UTF-8"?>

<module name="volume reader" class="VolumeReader">
    <reader datatype="Binary volume"/>
    <description value="Reads simple volumetric binary files."/>
    <outputs>
        <output name="volume" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="NSPACE" value="3"/>
                <param name="NDIMS" value="3"/>
                <param name="AFFINE" value="true"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
</module>

