<?xml version="1.0" encoding="UTF-8"?>

<module name="canny gradients" class="Canny">

    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING">
            <description value="inField"/>
            <acceptor>
                <param name="NSPACE" value="3"/>
                <param name="REGULAR" value="true"/>
                <param name="NDIMS" value="3"/>
            </acceptor>
            <acceptor>
                <param name="NDIMS" value="2"/>
                <param name="REGULAR" value="true"/>
            </acceptor>
        </input>
    </inputs>

    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <description value="outField"/>
            <schema>
                
            </schema>
        </output>


        <geometryOutput/>
    </outputs>
    <parameters>
    </parameters>
</module>
