<?xml version="1.0" encoding="UTF-8"?>

<module name="VisNow field reader" class="ReadVisNowField">
    <reader datatype="VisNow Field"/>
    <description value="Reads VisNow Field (VNF) data files."/>
    <outputs>
        <output name="regularOutField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="REGULAR" value="true"/>
            </schema>
        </output>
        <output name="irregularOutField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
            <schema>
                <param name="IRREGULAR" value="true"/>
            </schema>
        </output>
        
        <geometryOutput/>
    </outputs>
</module>

