<?xml version="1.0" encoding="UTF-8"?>

<module name="Humac reader" class="ReadHumac">
    <description value="Reads CMSi Humac files."/>
    <outputs>
        <output name="outRegularField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
<!--            <schema>
                <param name="NSPACE" value="1"/>
                <param name="NDIMS" value="1"/>
                <param name="COORDS" value="true"/>
            </schema>-->
        </output>
    </outputs>
</module>

