<?xml version="1.0" encoding="UTF-8"?>

<module name="glyphs" class="Glyphs">

    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
           <acceptor>
                <param name="REGULAR" value="true"/>
            </acceptor>
            <acceptor>
                <param name="IRREGULAR" value="true"/>
            </acceptor>
        </input>
        <input name="threshold" type="java.lang.Float" modifiers="TRIGGERING:HIDDEN"/>
        </inputs>
    <outputs>
        <geometryOutput/>
    </outputs>
    <description value="visualizes selected component by small glyphs at selected nodes (balls or diamonds for scalars, arrows for vectors)"/>
</module>
