<?xml version="1.0" encoding="UTF-8"?>

<module name="loop" class="Loop">
    <outputs>
        <output name="counter" type="java.lang.Integer">
        </output>
        <output name="value" type="java.lang.Float">
        </output>
        <geometryOutput/>
    </outputs>
    <description value="loops over a range of values"/>
</module>

