<?xml version="1.0" encoding="UTF-8"?>

<module name="viewer 2D" class="Viewer2D">
    <inputs>
        <input name="inObject" type="pl.edu.icm.visnow.lib.types.VNGeometryObject" modifiers="TRIGGERING" maxConnections="-1">
<!--            <acceptor>
                <param name="GEOMETRY2D" value="true"/>
            </acceptor> -->
        </input>
    </inputs>
</module>
