<?xml version="1.0" encoding="UTF-8"?>

<module name="data cell to node" class="CellToNode">

    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNIrregularField" modifiers="NECESSARY:TRIGGERING">
            <schema>
                <param name="IRREGULAR" value="true"/>
                <param name="CELLSETS" value="true"/>
            </schema>
        </input>
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
            <schema>
                <param name="IRREGULAR" value="true"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
    <parameters>
    </parameters>
    <description value="creates node data from cell data averaging over cells containing node "/>
</module>
