<?xml version="1.0" encoding="UTF-8"?>

<module name="skeletonizer" class="Skeletonizer">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="NDIMS" value="3"/>
                <param name="NSPACE" value="3"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
        </output>
        <geometryOutput/>
    </outputs>    
    <parameters>
    </parameters>
</module>
