<?xml version="1.0" encoding="UTF-8"?>

<module name="EnSight case reader" class="ReadEnSightGoldCase">
    <reader datatype="EnSight Gold case"/>
    <description value="Reads EnSight Gold case and generates"/>
    <outputs>
        <output name="UCD field" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
            <schema>
                <param name="IRREGULAR" value="true"/>
                <param name="NSPACE" value="3"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
</module>

