<?xml version="1.0" encoding="UTF-8"?>

<module name="transform geometry" class="TransformGeometry">

    <inputs>
       <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
       </input>
       <input name="transform" type="pl.edu.icm.visnow.lib.types.VNGeometryTransform" modifiers="NECESSARY:TRIGGERING">
       </input>
    </inputs>

    <outputs>
        <output name="outRegularField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="REGULAR" value="true"/>
            </schema>
        </output>
        <output name="outIrregularField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
            <schema>
                <param name="IRREGULAR" value="true"/>
            </schema>
        </output>
    </outputs>
    
    <parameters>

    </parameters>
</module>
