<?xml version="1.0" encoding="UTF-8"?>

<module name="differential operations" class="RegularFieldDifferentialOperations">

    <inputs>
       <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="REGULAR" value="true"/>
            </acceptor>
       </input>
    </inputs>

    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
        </output>
   </outputs>
    
    <parameters>
    </parameters>
    <description value="differetial operations (gradient, rot, div) computed for regular field by central differences"/>
</module>
