<?xml version="1.0" encoding="UTF-8"?>

<module name="GADGET-2 reader" class="ExtendedGadgetReader">
    <reader datatype="GADGET-2 extended file"/>
    <description value="Reads Gadget-2 cosmological simulation data files."/>
    <inputs>
        <!--
        <input name="inRangeField" type="pl.edu.icm.visnow.lib.types.VNField">
            <description value="Input for range field for reader cropping"/>
            <acceptor>
                <param name="NSPACE" value="3"/>
            </acceptor>
        </input>
        -->
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
            <schema>
                <param name="NSPACE" value="3"/>
                <param name="IRREGULAR" value="true"/>
            </schema>
        </output>
        <output name="outDensityField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="NSPACE" value="3"/>
                <param name="REGULAR" value="true"/>
                <param name="NDIMS" value="3"/>
                <param name="AFFINE" value="true"/>
                <param name="DATA_VECLEN" value="1"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
</module>

