<?xml version="1.0" encoding="UTF-8"?>

<module name="tubes " class="TubeGlyphs">

    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="IRREGULAR" value="true"/>
                <param name="NSPACE" value="3"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
        <geometryOutput/>
    </outputs>
    <description value="for each segment type cell creates a tube around it with constant or data dependent radius"/>
</module>
