<?xml version="1.0" encoding="UTF-8"?>

<module name="multicomponent histogram" class="MulticomponentHistogram">

    <inputs>
       <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="REGULAR" value="true"/>
            </acceptor>
            <acceptor>
                <param name="IRREGULAR" value="true"/>
            </acceptor>
       </input>
    </inputs>

    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="REGULAR" value="true"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
    
    <description value="Builds multicomponent or multispatial data histograms."/>
</module>
