<?xml version="1.0" encoding="UTF-8"?>

<module name="Biodex file reader" class="ReadBiodex">
    <description value="Reads Biodex files."/>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
<!--            <schema>
                <param name="NSPACE" value="1"/>
                <param name="NDIMS" value="1"/>
                <param name="COORDS" value="true"/>
            </schema>-->
        </output>
    </outputs>
</module>

