<?xml version="1.0" encoding="UTF-8"?>

<module name="animated stream" class="AnimatedStream">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
        </input>
    </inputs>
    <outputs>
        <geometryOutput/>
    </outputs>
</module>
