<?xml version="1.0" encoding="UTF-8"?>

<module name="crop/downsize regular field" class="CropDown">
   <inputs>
      <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING">
      </input>
   </inputs>

   <outputs>
      <output name="outField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
      </output>
   <geometryOutput/>
   </outputs>
   <description value="crops to smaller box, downsizes indices and clamps component values"/>
</module>
