<?xml version="1.0" encoding="UTF-8"?>

<module name="isolines" class="Isolines">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="REGULAR" value="true"/>
                <param name="NDIMS" value="2"/>
            </acceptor>
            <acceptor>
                <param name="IRREGULAR" value="true"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
        </output>
        <geometryOutput/>
    </outputs>    
    <parameters>
    </parameters>
    <description value="creates a series of isolines of a 2d field"/>
</module>
