<?xml version="1.0" encoding="UTF-8"?>

<module name="tensor glyphs" class="TensorGlyphs">

    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
           <acceptor>
                <param name="REGULAR" value="true"/>
                <param name="NSPACE" value="3"/>
                <param name="DATA_VECLEN" value="3"/>
            </acceptor>
            <acceptor>
                <param name="IRREGULAR" value="true"/>
                <param name="NSPACE" value="2"/>
                <param name="DATA_VECLEN" value="2"/>
            </acceptor>
           <acceptor>
                <param name="REGULAR" value="true"/>
                <param name="NSPACE" value="3"/>
                <param name="DATA_VECLEN" value="6"/>
            </acceptor>
            <acceptor>
                <param name="IRREGULAR" value="true"/>
                <param name="NSPACE" value="2"/>
                <param name="DATA_VECLEN" value="3"/>
            </acceptor>
        </input>
        </inputs>
    <outputs>
        <geometryOutput/>
    </outputs>
</module>
