<?xml version="1.0" encoding="UTF-8"?>

<module name="city plot" class="CityPlot">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="NDIMS" value="2"/>
                <param name="AFFINE" value="true"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
        <geometryOutput/>
    </outputs>    
    <parameters>
    </parameters>
</module>
