<?xml version="1.0" encoding="UTF-8"?>

<module name="Podoscope ASCII reader" class="ReadPodo">
    <reader datatype="Zebris Podscope file"/>
    <description value="Reads specific Dynamic Podoscopy data files."/>
    <outputs>
        <output name="compressedOutPressureField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="REGULAR" value="true"/>
                <param name="NDIMS" value="3"/>
                <param name="DATA_VECLEN" value="1"/>
            </schema>
        </output>
        <output name="outPressureField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="REGULAR" value="true"/>
                <param name="NDIMS" value="3"/>
                <param name="DATA_VECLEN" value="1"/>
            </schema>
        </output>
        <output name="outForceField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="REGULAR" value="true"/>
                <param name="NDIMS" value="1"/>
                <param name="DATA_VECLEN" value="1"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
</module>

