<?xml version="1.0" encoding="UTF-8"?>

<module name="time select/animate" class="ObjectFlow">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
            <description value="Input for data field with time frames"/>
            <acceptor>
                <param name="TIME" value="true"/>
            </acceptor>
        </input>
        <input name="frame" type="java.lang.Integer" modifiers="TRIGGERING">
        </input>
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNField">
        </output>
        <output name="regularOutField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
        </output>
        <geometryOutput/>
    </outputs>
    <description value="Selects a time moment from dtime dependent data, animates time dependent data over time."/>
</module>
