<?xml version="1.0" encoding="UTF-8"?>

<module name="mask editor" class="MaskEditor">

    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="VECLEN" value="1"/>
            </schema>
        </output>
    </outputs>
    
</module>
