<?xml version="1.0" encoding="UTF-8"?>

<module name="cell centers" class="CellCenters">

    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNIrregularField" modifiers="NECESSARY:TRIGGERING">
        </input>
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
        </output>
        <geometryOutput/>
    </outputs>
    <description value="replaces each cell by its center"/>
</module>
