<?xml version="1.0" encoding="UTF-8"?>
<module name="surface/volume integrals" class="Integration">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="NSPACE" value="3"/>
                <param name="IRREGULAR" value="true"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
    </outputs>
    <parameters>
    </parameters>
    <description value="Computes surface/volume measure and surface/volume integrals of scalar data"/>
</module>
