<?xml version="1.0" encoding="UTF-8"?>
<module name="write field" class="FieldWriter">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="REGULAR" value="true"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
    </outputs>
</module>
