<?xml version="1.0" encoding="UTF-8"?>

<module name="NAMD dynamics reader" class="NAMDDynamicsReader">
    <inputs>
        <input name="Molecule" type="pl.edu.icm.visnow.lib.chemistry.types.VNMolecule" modifiers="NECESSARY"></input>
        <input name="Selection" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="">
            <acceptor>
                <param name="REGULAR" value="true"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
        <output name="Molecule" type="pl.edu.icm.visnow.lib.chemistry.types.VNMolecule" ></output>
        <output name="Dynamics" type="pl.edu.icm.visnow.lib.chemistry.types.VNDynamics" ></output>
        <output name="DynamicsFld" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="REGULAR" value="true"/>
            </schema>
        </output>
        <output name="FrameFld" type="pl.edu.icm.visnow.lib.types.VNRegularField">
            <schema>
                <param name="REGULAR" value="true"/>
            </schema>
        </output>
    </outputs>    
    <parameters>
    </parameters>
</module>
