<?xml version="1.0" encoding="UTF-8"?>

<module name="surface components" class="SurfaceComponents">

    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNIrregularField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="NSPACE" value="3"/>
                <param name="CELLS_2D" value="true"/>
            </acceptor>
        </input>
    </inputs>

    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNIrregularField">
            <schema>
                <param name="NSPACE" value="3"/>
            </schema>
        </output>
        <geometryOutput/>
    </outputs>
    <parameters>
    </parameters>
    <description value="breaks a triangulated surface into connested components and outputs them as separate cell sets"/>
</module>
