<?xml version="1.0" encoding="UTF-8"?>

<module name="orthoviewer 3D" class="Viewer3D">

    <inputs>
       <input name="inObject" type="pl.edu.icm.visnow.lib.types.VNGeometryObject" modifiers="NECESSARY:TRIGGERING" maxConnections="-1">
       </input>
    </inputs>
    <outputs>
    </outputs>
    <parameters>
    </parameters>
    <description value="basic viewer for 3D objects"/>
</module>
