<?xml version="1.0" encoding="UTF-8"?>
<module name="drop coordinates" class="DropCoords">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING">
        </input>
    </inputs>
    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
        </output>
        <geometryOutput/>
    </outputs>    
    <parameters>
    </parameters>
</module>
