<?xml version="1.0" encoding="UTF-8"?>

<module name="fill in masked data" class="FillMaskedData">

    <inputs>
       <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="REGULAR" value="true"/>
            </acceptor>
       </input>
    </inputs>

    <outputs>
        <output name="outField" type="pl.edu.icm.visnow.lib.types.VNRegularField">
        </output>
        <geometryOutput/>
    </outputs>
    <parameters>
    </parameters>
    <description value="fills invalid (masked) data values from neighbor vals"/>
</module>
