<?xml version="1.0" encoding="UTF-8"?>

<module name="field mapper" class="FieldMapper">
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNField" modifiers="NECESSARY:TRIGGERING">
            <acceptor>
                <param name="REGULAR" value="true"/>
            </acceptor>
            <acceptor>
                <param name="IRREGULAR" value="true"/>
            </acceptor>
        </input>
    </inputs>
    <outputs>
        <geometryOutput/>
    </outputs>    
    <parameters>
    </parameters>
    <description value="visualizes any field by its bounds and (optionally) colored outer surface"/>
</module>
