<?xml version="1.0" encoding="UTF-8"?>

<module name="field viewer 1D" class="FieldViewer1D">
    <description value="advanced viewer for plotting 1d graphs"/>
    <inputs>
        <input name="inField" type="pl.edu.icm.visnow.lib.types.VNRegularField" modifiers="NECESSARY:TRIGGERING" maxConnections="-1">
            <acceptor>
                <param name="NDIMS" value="1"/>
            </acceptor>
        </input>
    </inputs>
</module>
